body {
	font-family: 'Lato', sans-serif;
}

input + label{
	font-size: 16px;
	margin-right: 10px;
}

.sBoxes {
	margin: 0 5px 5px 0;
	width: 32%;
}

#sbPlan1 {
	width: 90%;
	height: 111px;
}

#sbService1 {
	width: 90%;
	height: 111px;
}